#main {
    height:820px;
    display: flex;
    margin-top: 40px;
    gap: 15px;
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
#box1{
    width: 48%;
    /* border: 1px solid black; */
}

#box2{
    width: 48%;
    /* border: 1px solid black; */
}

#login {
    margin-left: 15px;
}

#Uname {
    margin-left: 15px;
}

#userdata {
    width: 90%;
    height: 40px;
}

#check {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    gap: 15px;
}

#check>p {
    margin-top: -2px;
}

#lbtn {
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: orange;
}

#logomo {
    display: flex;
}
#logomo > button {
    color: white;
    background-color: blue;
}

#Mname{
    margin-top: 15px;
    margin-left: 15px;
}